#about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: $back2;
  background: radial-gradient(circle, rgba(227, 221, 230, 1) 2%, rgba(216, 178, 225, 1) 33%);


  .about-head {

    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  h2 {
    font-size: 30px;
    margin-bottom: 10px;
    color: $color4;
    text-align: left;
  }

  p {
    font-size: 18px;
    margin-bottom: 20px;
    text-align: left;
    color: $color4;

    &:last-child {
      margin-bottom: 0;
    }
  }

  .about-content {
    display: flex;
    flex-direction: row-reverse;
    margin-bottom: 40px;
    width: 70%;

    img {
      width: 500px;
      height: auto;
      margin-left: 50px;
    }

    .about-text {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: left;
      max-width: 50%;

      p {
        margin-bottom: 20px;
        line-height: 1.5;
      }

      button {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 170px;
        padding: 20px;
        text-align: center;
        color: $color5;
        border-color: $color1;
        background-color: $color1;
        margin: 0 auto;
        margin-top: 40px;

        &:hover {
          color: $color2;
          border-color: $color2;
        }
      }
    }
  }

  @media screen and (max-width: 1400px) {
    margin: 0;

    .about-content {
      width: 80%;
      text-align: justify;
    }
  }

  @media screen and (max-width: 1100px) {
    .about-content {
      img {
        width: 400px;
        margin: 0;
      }
    }
  }

  @media screen and (max-width: 900px) {
    .about-head {
      h2 {
        font-size: 24px;
      }

      p {
        font-size: 14px;
      }
    }

    .about-content {
      .about-text {
        margin: 0;
        width: 80%;


      }
    }
  }

  @media screen and (max-width: 768px) {


    .about-content {
      flex-direction: column;
      width: 100%;

      img {
        margin: 0 auto;
        margin-top: 30px;
        margin-bottom: 2rem;
        width: 250px;
        height: auto;
      }

      .about-text {
        margin: 0 auto;
        max-width: 100%;

        p {
          text-align: justify;
          font-size: 14px;

        }

        button {
          margin-top: 20px;
        }
      }
    }
  }
}


#dark {
  #about {

    background: rgb(77, 77, 77);
    background: radial-gradient(circle, rgba(77, 77, 77, 1) 0%, rgba(103, 136, 115, 1) 27%);
  }

  .about-content {
    .about-text {

      button {
        background-color: $color2;
        border-color: $color2;
        color: $color0;

        &:hover {
          color: $color1;
          border-color: $color1;
        }
      }
    }
  }
}