#about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 100px 0;


  .about-head {
    margin: 40px;
  }

  h2 {
    font-size: 30px;
    margin-bottom: 10px;
    text-align: center;
    align-self: center;
  }

  p {
    font-size: 15px;
    margin-bottom: 20px;
    max-width: 80%;
    text-align: center;

    &:last-child {
      margin-bottom: 0;
    }
  }

  .about-content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
    width: 50%;

    img {
      width: 300px;
      height: auto;
      margin-right: 50px;
    }

    .about-text {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      max-width: 50%;

      p {
        margin-bottom: 20px;
        line-height: 1.5;
      }

      button {
        margin-top: 20px;
        color: $color1;
        border-color: $color1;

        &:hover {
          color: $color2;
          border-color: $color2;
        }
      }
    }
  }

  @media screen and (max-width: 1400px) {
    margin: 0;

    .about-content {
      width: 80%;
      text-align: justify;
    }
  }

  @media screen and (max-width: 840px) {
    .about-head {
      h2 {
        font-size: 24px;
      }

      p {
        font-size: 14px;
      }
    }

    .about-content {


      img {
        width: 250px !important;
      }

      .about-text {
        margin: 0;
        width: 80%;

        p {
          font-size: 12px;
        }
      }
    }
  }

  @media screen and (max-width: 768px) {
    .about-content {
      flex-direction: column;
      width: 100%;

      img {
        margin-right: 0;
        margin-bottom: 2rem;
        width: 100%;
        height: auto;
      }

      .about-text {
        max-width: 100%;

        p {
          text-align: justify;

        }
      }
    }
  }
}


#dark {
  .about-content {
    .about-text {

      button {
        color: $color2;
        border-color: $color2;

        &:hover {
          color: $color1;
          border-color: $color1;
        }
      }
    }
  }
}