#competences {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 100px 0;

  h2 {
    font-size: 34px;
    margin-bottom: 10px;
  }

  p {
    font-size: 15px;
    margin-bottom: 40px;
  }

  .competences-content {
    display: flex;
    justify-content: center;
    align-items: center;

    .ant-collapse {
      border: 1px solid $color1;
      margin-right: 20px;

      .ant-collapse-item {
        border: none;

        .ant-collapse-header {
          border-color: $color1;
          color: $color1;
          width: 500px;
        }

        .ant-collapse-content-box {
          background-color: $color5;
          color: $color6;
          text-align: center;
        }
      }
    }
  }
}

#dark {
  #competences {


    .competences-content {

      .ant-collapse {
        border: 1px solid $color2;


        .ant-collapse-item {

          .ant-collapse-header {
            border-color: $color2;
            color: $color2;

          }

          .ant-collapse-content-box {
            width: 500px;
            text-align: center;
          }

          .ant-collapse-content-box {
            background-color: $color0;
            color: $color5;
          }
        }
      }
    }
  }
}