#experience {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  h2 {
    font-size: 34px;
    margin-bottom: 10px;
  }

  h3 {
    color: $color1;
  }

  p {
    color: $color6;
  }

  .btn-xp {
    display: flex;
    font-size: 20px;

    i {
      margin: 10px;
    }

    .btn {
      margin: 40px 20px;
      cursor: pointer;
    }

    .active-btn {
      color: $color1;
    }
  }

  @media screen and (max-width: 840px) {
    h2 {
      font-size: 24px
    }

    h3 {
      font-size: 18px;
    }

    p {
      font-size: 14px
    }
  }

  @media screen and (max-width: 600px) {


    h3 {
      font-size: 14px;
    }
  }
}

#dark {
  #experience {
    h3 {
      color: $color2;
    }

    p {
      color: $color5;
    }

    .btn {
      color: $color5;
    }

    .btn-xp {
      .active-btn {
        color: $color2;
      }
    }
  }
}