#gotop {
  position: fixed;
  right: 20px;
  bottom: 20px;
  color: $color1 !important;

  &:visited {
    color: $color1 !important;
  }
}

#dark {
  #gotop {

    color: $color2 !important;

    &:visited {
      color: $color2 !important;
    }
  }
}