#introduction {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-top: 200px;
  padding-bottom: 100px;
  width: 100%;


  .socials {
    margin-right: 2rem;
  }

  .intro-content {
    display: flex;
    flex-direction: column;
    width: 20%;
    margin: 0 50px;

    h1 {
      font-size: 34px;
      text-align: left;
    }

    h2 {
      margin-top: 0;
      font-size: 30px;
      text-align: left;

    }

    h3 {
      text-align: left;
      margin-bottom: 20px;
      font-size: 24px;
      margin-left: 0;
    }

    p {
      font-size: 15px;
      margin-bottom: 40px;

    }

    button {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 170px;
      padding: 20px;
      text-align: center;
      color: $color1;
      border-color: $color1;

      &:hover {
        color: $color2;
        border-color: $color2;
      }
    }
  }

  img {
    width: 300px;
  }

  @media screen and (max-width: 1110px) {
    .intro-content {
      display: flex;
      flex-direction: column;
      width: 40%;
      margin: 0 50px;

      h1 {

        font-size: 34px;
      }

      h2 {
        margin-top: 0;
        font-size: 30px;
      }

      h3 {
        margin-bottom: 20px;
        font-size: 24px;
      }

      p {
        font-size: 15px;
        margin-bottom: 40px;

      }
    }


    /* Modifier la disposition pour aligner verticalement les éléments de contenu */
    @media screen and (max-width: 840px) {
      flex-direction: column-reverse;
      justify-content: center;
      align-items: center;

      button {
        margin: 0 auto;
      }

      .socials {
        justify-content: space-between;
        flex-direction: row;
        margin: 0 auto;

        a {
          margin: 10px;
        }
      }

      .intro-content {
        margin-bottom: 2rem;
        width: 70%;

        h1 {

          font-size: 24px;
        }

        h2 {
          margin-top: 0;
          font-size: 20px;
        }

        h3 {
          margin-bottom: 20px;
          font-size: 14px;
        }

        p {
          font-size: 12px;
          margin-bottom: 40px;

        }

      }

      img {
        width: 250px;
      }
    }
  }
}

#dark {
  #introduction {
    .intro-content {

      h3 {
        color: $color6;
      }

      p {
        color: $color5;
      }

      button {
        color: $color2;
        border-color: $color2;

        &:hover {
          color: $color1;
          border-color: $color1;
        }
      }
    }
  }
}