#light {

  .mode {
    cursor: pointer;
    position: fixed;
    left: 20px;
    bottom: 20px;
    color: $color5 !important;
    padding: 15px;
    border: 1px solid $color1;
    background-color: $color1;
    border-radius: 25px;
    z-index: 1000;

    &:visited {
      color: $color5 !important;
    }
  }
}

#dark {

  .mode {
    cursor: pointer;
    position: fixed;
    left: 20px;
    bottom: 20px;
    color: $color0 !important;
    padding: 15px;
    border: 1px solid $color2;
    background-color: $color2;
    border-radius: 25px;
    z-index: 1000;

    &:visited {
      color: $color0 !important;
    }
  }
}