@keyframes menuOpenAnimation {
  from {
    width: 0;
    height: 0;
    padding: 0;
  }

  to {
    width: 500px;
    height: 500px;
    padding-top: 100px;
    padding-right: 100px;
  }
}

@keyframes menuCloseAnimation {
  from {
    width: 500px;
    height: 500px;
    padding-top: 100px;
    padding-right: 100px;
  }

  to {
    width: 0;
    height: 0;
    padding: 0;
  }
}

.toggle-btn {
  position: absolute;
  top: 20px;
  left: 20px;
  cursor: pointer;
  height: 60px;
  width: 60px;
  z-index: 10;
  background-color: $color1;
  border-radius: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.toggle-btn span {
  width: 30px;
  height: 5px;
  border-radius: 5px;
  background: $color5;
  display: block;
  margin-top: 4px;
  transition: 0.3s ease;

}

.nav.open {
  background-color: $color1;
  font-size: 30px;
  line-height: 40px;
  letter-spacing: 0px;
  position: fixed;
  top: 0;
  left: 0;
  transform-origin: 100% 0%;
  -moz-border-bottom-right-radius: 500px;
  border-bottom-right-radius: 500px;
  display: flex;
  flex-direction: column;
  list-style: none;
  padding-top: 100px;
  padding-right: 100px;
  z-index: 4;
  width: 500px;
  height: 500px;
  text-align: center;
  animation: menuOpenAnimation 0.5s ease forwards;
}


.nav.open li a {
  color: $color5;
}

.nav.open li a:hover {
  color: $color2;
}

.nav.closed {
  display: none;
  animation: menuCloseAnimation 0.5s ease forwards;
}

h3 {
  text-align: left;
  margin-right: auto;
  margin-left: 20px;
  font-size: 24px;
  font-weight: bold;
  color: $color1;
}

li {
  margin-left: 20px;
  font-size: 18px;
  font-weight: bold;
  color: $color1;
  text-decoration: none;


  a {
    color: $color1;

    &:hover {
      color: $color2;
    }
  }

  &:visited {
    color: $color1;
  }

  &:hover {
    color: $color2;
  }

}

.toggle-btn.open span:nth-child(1) {
  transform: rotate(45deg) translate(2px, 0px);
}

.toggle-btn.open span:nth-child(2) {
  opacity: 0;
}

.toggle-btn.open span:nth-child(3) {
  transform: rotate(-45deg) translate(2px, 0px);
}

#dark {
  .toggle-btn {
    background-color: $color2;
  }

  .toggle-btn span {
    background-color: $color0;
  }

  .nav.open {
    background-color: $color2;
    border-bottom: 1px solid $color2;

  }

  a {
    color: $color0;

    &:hover {
      color: $color1;
    }
  }

  &:visited {
    color: $color0;
  }

  &:hover {
    color: $color1;
  }

}

.active span {
  position: absolute;
}

.active span:nth-child(1) {
  transform: rotate(45deg);
}

.active span:nth-child(2) {
  opacity: 0;
}

.active span:nth-child(3) {
  transform: rotate(-45deg);
}

.active~.content {
  opacity: 0.3;
}

@media only screen and (max-width: 855px) {
  .toggle-btn {
    height: 50px;
    width: 50px;

    span {
      width: 25px;
      height: 3px;
    }
  }

  .nav.open {
    width: 400px;
    height: 400px;
    padding-top: 70px;
    padding-right: 70px;
  }
}


@media only screen and (max-width: 500px) {
  .toggle-btn {
    top: 10px;
    left: 10px;
    height: 40px;
    width: 40px;

    span {
      width: 20px;
      height: 2px;
    }
  }

  .nav.open {
    width: 300px;
    height: 300px;
    padding-top: 30px;
    padding-right: 50px;

    li a {
      font-size: 14px;
      line-height: 10px;
    }
  }
}