.nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  list-style: none;
  padding: 40px;
  background-color: $color6;

  h3 {
    text-align: left;
    margin-right: auto;
    margin-left: 20px;
    font-size: 24px;
    font-weight: bold;
    color: $color1;
  }

  li {
    margin-left: 20px;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    color: $color1;
    text-decoration: none;


    a {
      color: $color1;

      &:hover {
        color: $color2;
      }
    }

    &:visited {
      color: $color1;
    }

    &:hover {
      color: $color2;
    }

  }
}

#dark {
  .nav {
    h3 {
      color: $color2;
    }

    li {
      color: $color2;

      a {
        color: $color2;
        text-decoration: none;
        cursor: pointer;

        &:hover {
          color: $color1;
        }

        &:visited {
          color: $color2;

          &:hover {
            color: $color1;
          }
        }
      }
    }
  }
}