#portfolio p {
  font-size: 15px;
  margin-bottom: 20px;
  text-align: center;
}

.carousel-slide {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  padding: 16px;
  border: 2px solid $color1;

  .slide-image {
    flex: 1;
    height: 100%;
    overflow: hidden;

    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  }

  .slide-content {
    flex: 1;
    padding: 16px;
    text-align: center;

    h3 {
      font-size: 24px;
      margin-bottom: 8px;
    }

    p {
      font-size: 16px;
      margin-bottom: 16px;
    }

    .learn-more-button {
      background-color: $color5;
      color: $color1;
      border: 1px solid $color1;
      padding: 8px 16px;
      border-radius: 4px;
      cursor: pointer;
      display: block;
      margin: 0 auto;

      &:hover {
        color: $color2;
        border-color: $color2;
      }

      &:visited {
        color: $color1;

        &:hover {
          color: $color2;
          border-color: $color2;
        }
      }

      a {
        color: $color1;

        &:hover {
          color: $color2;
          border-color: $color2;
        }
      }
    }
  }

}

#dark {

  .carousel-slide {
    border: 2px solid $color2;

    .slide-content {
      flex: 1;
      padding: 16px;
      text-align: center;

      h3 {

        color: $color5;
      }

      p {
        color: $color6;
      }

      .learn-more-button {
        background-color: $color7;
        color: $color2;
        border: 1px solid $color2;

        &:hover {
          color: $color1;
          border-color: $color1;
        }

        &:visited {
          color: $color2;

          &:hover {
            color: $color1;
            border-color: $color1;
          }
        }

        a {
          color: $color2;

          &:hover {
            color: $color1;
            border-color: $color1;
          }
        }
      }
    }

  }

}