#portfolio p {
  font-size: 15px;
  margin-bottom: 20px;
  text-align: center;
}

.carousel-slide {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  padding: 16px;

  .slide-image {
    flex: 1;
    height: 100%;
    overflow: hidden;

    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  }

  .slide-content {
    flex: 1;
    padding: 16px;
    text-align: center;

    h3 {
      font-size: 24px;
      margin-bottom: 8px;
    }

    p {
      font-size: 16px;
      margin-bottom: 16px;
    }

    .learn-more-button {
      background-color: $color1;
      color: #fff;
      border: none;
      padding: 8px 16px;
      border-radius: 4px;
      cursor: pointer;
      display: block;
      margin: 0 auto;

      &:hover {
        background-color: darken($color2, 10%);
      }

      &:visited {
        color: #fff;
      }

      a {
        color: #fff;
      }
    }
  }

}