.portfolio {
  background-color: $back2;
  background: radial-gradient(circle, rgba(227, 221, 230, 1) 2%, $back2 42%);
  padding-top: 50px;
  padding-bottom: 180px;
  position: relative;
  width: 100%;

  .separation {
    width: 100%;
    bottom: 0;
    position: absolute;

  }
}

#portfolio p {
  font-size: 15px;
  margin-bottom: 20px;
  text-align: center;
}

.slick-slider {
  margin-bottom: 50px;
}

.carousel-slide {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  padding: 16px;
  border: 2px solid $color1;
  background-color: $color5;


  .slide-image {
    flex: 1;
    height: 100%;
    overflow: hidden;

    img {
      height: 100%;
      width: 100%;

    }
  }

  .slide-content {
    flex: 1;
    padding: 16px;
    text-align: center;

    h3 {
      font-size: 24px;
      margin-bottom: 8px;
      text-align: center;
    }

    p {
      font-size: 16px;
      margin-bottom: 16px;
    }

    .learn-more-button {
      background-color: $color1;
      color: $color4;
      border: 1px solid $color1;
      padding: 8px 16px;
      border-radius: 4px;
      cursor: pointer;
      display: block;
      margin: 0 auto;

      &:hover {
        color: $color2;
        border-color: $color2;
      }

      &:visited {
        color: $color1;

        &:hover {
          color: $color2;
          border-color: $color2;
        }
      }

      a {
        color: $color4;

        &:hover {
          color: $color2;
          border-color: $color2;
        }
      }
    }
  }
}

@media screen and (max-width: 840px) {
  .portfolio {
    padding-bottom: 80px;
    padding-top: 10px;
  }

  .carousel {
    width: 90%;
  }

  #portfolio {
    h2 {
      font-size: 24px
    }

    p {
      font-size: 14px
    }
  }
}




#dark {
  .portfolio {

    background: rgb(77, 77, 77);
    background: radial-gradient(circle, rgba(77, 77, 77, 1) 0%, rgba(103, 136, 115, 1) 27%);

  }

  .carousel-slide {
    border: 2px solid $color2;
    background-color: $color0;

    .slide-content {
      flex: 1;
      padding: 16px;
      text-align: center;

      h3 {

        color: $color5;
      }

      p {
        color: $color6;
      }

      .learn-more-button {
        background-color: $color2;
        color: $color2;
        border: 1px solid $color2;

        &:hover {
          color: $color1;
          border-color: $color1;
        }

        &:visited {
          color: $color2;

          &:hover {
            color: $color1;
            border-color: $color1;
          }
        }

        a {
          color: $color0;

          &:hover {
            color: $color1;
            border-color: $color1;
          }
        }
      }
    }

  }

}