// Variables
$color0: #4d4d4d;
$color1: #F3A6AD;
$color2:#aeecc4;
$color3: #f5dcfd;
$color4: #e2fbeb;
$color5:#fffdfd;
$color6: #767676;
$color7:#2c2d2c;
$back1:#EFCED9;
$back2:#D8B2E1;
$back3: #EEEEF0;
$font-family: freight-sans-pro,
sans-serif;
$font-size-base: 16px;

// Styles pour l'ensemble du document
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

}

html {
  height: 100%;
  text-decoration: none;
  scroll-behavior: smooth;
}

html,
body,
#app,
#app>div {
  height: 100vh;
  overflow-x: hidden;
}


body {
  font-family: $font-family;
  font-size: $font-size-base;
  color: $color0;
  -webkit-font-smoothing: antialiased;
  overflow-x: hidden;

  #root {
    height: 100%;
    min-height: 100vh;
  }

  .ant-typography {
    font-family: $font-family;
  }


  h2 {
    font-size: 30px;
    margin-bottom: 10px;
    margin-top: 20px;
    text-align: center;
  }
}

ul,
ol {
  list-style-type: none;
}

a {
  text-decoration: none;
}


#light {
  background-color: $color5;

  h1,
  h2,
  h3 {
    color: $color6;
  }
}

#dark {
  background-color: $color7;
  bottom: 0;
  top: 0;

  h1,
  h2 {
    color: $color2;
  }

  p {
    color: $color5;
  }
}