// Variables
$color0: #4d4d4d;
$color1: #efb9e3;
$color2:#aeecc4;
$color3: #f5dcfd;
$color4: #e2fbeb;
$color5:#fffdfd;
$color6: #767676;
$color7:#2c2d2c;
$font-family: freight-sans-pro,
sans-serif;
$font-size-base: 16px;

// Styles pour l'ensemble du document
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
  text-decoration: none;
  scroll-behavior: smooth;
}

html,
body,
#app,
#app>div {
  height: 100vh;
  overflow-x: hidden;
}

body {
  font-family: $font-family;
  font-size: $font-size-base;
  color: $color0;
  -webkit-font-smoothing: antialiased;
  overflow-x: hidden;

  #root {
    height: 100%;
    min-height: 100vh;
  }

  .ant-typography {
    font-family: $font-family;
  }


  h2 {
    font-size: 30px;
    margin-bottom: 10px;
    margin-top: 20px;
    text-align: center;
  }
}

ul,
ol {
  list-style-type: none;
}

a {
  text-decoration: none;
}

body::-webkit-scrollbar {
  width: 10px;
  z-index: 20;
  /* largeur de la barre de défilement */
}

body::-webkit-scrollbar-track {
  background: $color2;
  /* couleur de fond de la barre de défilement */
}

body::-webkit-scrollbar-thumb {
  background: $color1;
  /* couleur de la barre de défilement */
  border-radius: 5px;
  /* rayon des coins de la barre de défilement */
}

body::-webkit-scrollbar-thumb:hover {
  background: $color6;
  /* couleur de la barre de défilement au survol */
}


#light {
  background-color: $color5;

  h1,
  h2 {
    color: $color1;
  }
}

#dark {
  background-color: $color7;
  bottom: 0;
  top: 0;

  h1,
  h2 {
    color: $color2;
  }

  p {
    color: $color5;
  }
}