.projects {
  height: 100%;
  min-height: 100vh;
}

#projet {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  margin: 0 auto;

  .projet-desc {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;

    .desc {
      margin: 20px;
    }

    .projet-image {
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 50px;

      img {
        width: 800px;
        border: solid 1px $color1;
      }
    }

    .tags {
      margin: 20px;

      .tag {
        margin-top: 10px;
        padding: 5px 10px;
        border-radius: 5px;
        background-color: $color1;
        color: $color6;
        border: $color6 solid 1px;
        display: inline;
        white-space: nowrap;
        margin: 10px;
      }
    }

    .projet-infos {
      margin-top: 10px;
      text-align: center;
      width: 100%;

      p {
        overflow-wrap: break-word;

      }
    }

    .ant-btn {
      margin: 30px;
      background-color: $color5;
      color: $color1;
      border: 1px solid $color1;
      box-shadow: none;

      &:hover {
        color: $color2;
        border-color: $color2;
      }
    }
  }

  @media screen and (max-width: 1000px) {
    .projet-desc {
      width: 100%;

      .desc {
        font-size: 16px;
        text-align: center;
      }
    }

    p {
      font-size: 14px
    }
  }

  @media screen and (max-width: 900px) {
    .projet-desc {

      .projet-image {
        img {

          width: 600px;
        }
      }
    }
  }

  @media screen and (max-width: 650px) {
    .projet-desc {

      .projet-image {
        img {

          width: 400px;
        }
      }
    }
  }


  @media screen and (max-width: 650px) {
    .projet-desc {

      .projet-image {
        img {

          width: 400px;
        }
      }
    }
  }

  @media screen and (max-width: 450px) {
    .projet-desc {

      .projet-image {
        img {

          width: 280px;
        }
      }
    }
  }
}

#dark {
  #projet {

    .projet-desc {
      color: $color5;

      .projet-image {

        img {
          border: solid 1px $color2;
        }
      }

      .tags {
        .tag {
          background-color: $color2;
          color: $color6;
          border: $color6 solid 1px;
        }
      }

      div {
        margin-top: 10px;
        text-align: center;
      }

      .ant-btn {
        margin: 30px;
        background-color: $color7;
        color: $color2;
        border: 1px solid $color2;
        box-shadow: none;

        &:hover {
          color: $color1;
          border-color: $color1;
        }
      }
    }
  }
}